doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async='' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js')
    script(src='/javascripts/head_300x250.js')
    
  body
    include adslots/300x250.pug