doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async='' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js')
    script(src='/javascripts/head_mwi.js')
    
  body
    a(href="/300x250") Click here for a 300x250 Ad
    