doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async='' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js')
    script(src='/javascripts/head_mwi.js')
    
  body
    h1 Mobile Web Interstitials Demo
    p 1. Open your developer tools and emulate any mobile device (eg. Google Pixel 2)
    p 2. Ensure that localstorage for this page has been cleared, Mobile Web Interstitials are automatically frequency capped to ensure a quality user experience.
    p 3. 
      a(href="/300x250") Click here to trigger Mobile Web Interstitial
    