doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async='' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js')
    script(src='/javascripts/head_web_anchor.js')
    //- THIS IS IMPORTANT 
    meta(name='viewport' content='width=device-width, initial-scale=1')

    
  body
    h2 Mobile Web Anchor
    h1 Make sure you are emulating a phone